#vn { text-align: center;background-color: blue;}
#abhishek {
    height: 400px;
    width: 400px;
    border-style: solid;
    border-radius: 360px;
    margin-top: 30px;
    margin-right: 356px;
}
#be{font-style: italic;
    color:coral;}
.ben{height: 300px;}
#e{ background-color: aqua}
#hehe{color: cornflowerblue}